*{
    margin:0;
    padding:0;
    text-align: center;
    background-color: #56876d;
}

h1{
    background-color:#081b31;
    color: #fff;
    height:5rem; 
    line-height: 5rem; /* we have add line-height equal to actual height to aling the center to the center vertically*/
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline-block; /* inline-block respects top margin, if we use "inline" property then top
                               margin wont work and we will have to apply margin to the parent id
                            i.e msg-conteiner*/
    padding:1rem;
    border-radius: 1rem;
}